<div>
    <div style="display: block;">
        <!-- <canvas baseChart
            [datasets]="chartData"
            [labels]="chartLabels"
            [options]="chartOptions"
            [legend]="chartLegend"
            [chartType]="chartType">
        </canvas> -->
    </div>
</div>



<div>
    <h1>Stakeholders</h1>
    <canvas baseChart 
        [chartType]="chartType"
        [datasets]="chartDatasets"
        [labels]=" chartLabel"
        [colors]="chartColors"
        [options]="chartOptions"
        [legend]="true">
    </canvas>
</div>